.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin-top: 20px;
}
.footer {
    margin: 20px 0; 
    padding: 0; 
    background-color: #eee; 
    min-height: 50px; 
    margin-bottom: -20px;
}